asgiref==3.4.1
Django==4.0.1
django-autocomplete-light==3.8.2
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.4
django-extensions==3.1.5
django-filter==21.1
djangorestframework==3.13.1
psycopg2==2.9.3
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
fontawesomefree==5.15.4