{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'seriados:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url list_url %}">Lista de Revisores</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

<div class="text-center mt-3">
    <h1>Detalhes do {{ title }}</h1>
    <p><b>{{ title }}</b>: {{ objects.first.revisor }}</p>
</div>

<table class="table table-hover table-striped">
    <tr>
        <th>Episódio(s) revistos</th>
        <th>Nota</th>
        <th></th>
    </tr>

    {% for object in objects %}
        <tr>
            <td>{{ object.episodio }}</td>
            <td>{{ object.nota }}</td>
            <td>
                <a href="{% url 'seriados:reviewepisodio_update' pk=pk %}"><i class="fa-solid fa-pen-to-square mr-3" title="Editar"></i></a>
                <a href="{% url 'seriados:reviewepisodio_delete' pk=pk %}"><i class="fa-solid fa-trash" title="Deletar"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}