{% extends "base.html" %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <h3>Procurar Episódio</h3>
        <div class="col-md-12 bg-light text-right">
            <input class="form-control" id='input_search' type="text" placeholder="Search..">
            <button class="btn btn-secondary ml-2" id="btn_search">Procurar</button>
        </div>
    </div>
</div>
{% endif %}

<h3 class="text-center"><b>Especialização em Tecnologia Python para Negócios</b></h3>
<h3 class="text-center"><b>M3.Python para WEB</b></h3>

<div class="text-center mt-3">
    <img src="{% static 'img/utfpr_logo.png' %}" class="img-fluid rounded img-thumbnail">
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#btn_search").click(function() {
            search = $("#input_search").val();
            url = '{% url 'seriados:episodio_list' %}' + '?' +
                $.param({search:search});
            window.location.href = url;
        });
    });
</script>
{% endblock %}