{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-6 col-md-4">
		<img src="{% static 'seriados/star-icon.png' %}" alt="imagem">
	</div>
	<div class="col-6 col-md-8">
		<h3>Procurar episódio</h3>
		<input id='input_search' type="text" placeholder="Search..">
		<button id="btn_search">Procurar Episódio</button>
	</div>
</div>

<script 
	src="https://code.jquery.com/jquery-3.6.0.min.js" 
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
	crossorigin="anonymous">
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#btn_search").click(function() {
			search = $("#input_search").val();
			url = '{% url 'seriados:episodio_list' %}' + '?' +
			$.param({search:search});
			window.location.href = url;
		});
	});
</script>

{% endblock %}